<div class="about-page">
	<div class="about-section">
		<h1>About Us </h1>
	</div>
	<div class="welcome py-sm-5 py-4">
		<div class="container py-xl-4 py-lg-2">
			<!-- //tittle heading -->
			<div class="row">
				<h3 style="color:#af3131;">About Store</h3>
				<div class="col-lg-6 welcome-left">
					<h4 class="my-sm-3 my-2">An online Food System allows your business to accept and manage orders
						placed online for delivery or takeaway. Customers browse a digital menu, on a website and place
						and pay for their order online.Online Food System is a low-price , which has many vital ranging
						foods consumed in our everyday Breakfast, Meals & Dinners. We have Fresh Veg, NonVeg, etc foods
						& many other foods needed daily. All the foods on our
						website are distinguished based on their categories, which gives you the hassle-free odering
						experience ever with minimum time spent for your Food ordering.</h4>
				</div>

				<div class="col-lg-6 welcome-right-top mt-lg-0 mt-sm-5 mt-4">
					<img src="../../../assets/Images/Online-Food-Delivery.jpg" class="img-fluid" alt=" ">
				</div>
				<div class="welcome-left">
					<br><br>
					<h3 class="text-left" style="color:#af3131;">&ensp;What We Do</h3>
					<h4 class="my-sm-3" style="margin-left:15px;">We guarantee you the best quality foods with the
						lowest price. Right now we only serve you in Thane. To have a more convenient Food odring, for
						you we deliver your selected foods at your doorstep at your selected time slot. As in today's
						era every person sense short in time & also its hard to find if the consumable foods are
						healthy/natural. So to tackle this issue we serve you with the finest & hand-picked foods from
						all the categories,
						to save your time from the conventional shopping as well as
						from the problems like getting stuck in long queues, the parking fees to be paid, carrying you
						heavy foods bags & etc.</h4>
				</div>
				<div class="welcome-left">
					<br><br>
					<h3 class="text-left" style="color:#af3131;">&ensp;Our Vision</h3>
					<h4 class="my-sm-3" style="margin-left:15px;">
						<li>Redefining India's freshest and finest food experience by 2023.</li>
						<li>To provide a brighter customer experience with an assortment of finest local and
							international foods and highest level of service. </li>
						<li>To spread the joy of food.</li>
					</h4>
				</div>
			</div>
		</div>
	</div>
</div>